@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
body{
    background-color: rgb(215, 166, 101);
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family:'Platypi',sans-serif;

}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 10vh;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 20%;
    padding: 0% 5%;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 2rem;
}
.container{
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family: 'Platypi',sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    padding: 30px;
    background-image: url(bg.jpg);
}
.bottom{
    margin-top: 10px;
    position: sticky;
    bottom: 0;
    height: 20vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
#myprogressbar{
    width: 80vw;
    cursor: pointer;
}
.icons{
    margin-top: 1%;
    cursor: pointer;
}
#icon1{
    margin-right: 20px;
}
#icon2{
    margin-left: 20px;
}
.songitem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 150%;
    color: black;
    margin: 20px 0;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    font: bolder;
    font-size: 20px;
    border-radius: 34px;
}
.songitem img{
    width: 50px;
}
.gif img{
    opacity: 0;
    transition: opacity 1s ease-in;
}
@media  screen and (max-width:500px) {
    .songitem{
        width: 65vw;
    }

}
@media  screen and (max-width:830px) {
    .songitem{
        width: 60vw;
    }
    
}